@font-face {
  font-family: 'Champagne And Limousines';
  src: url('../src/fonts/champagne-and-limousines/Champagne-and-Limousines.ttf');
}
#root {
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  position: fixed;
  top: 0;
  font-family: 'Champagne And Limousines', 'Nunito', sans-serif !important;
  font-size: 16px !important;
  font-weight: 600 !important;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to bottom, #fdfbfb, #ebedee) no-repeat center center scroll;
  background: linear-gradient(90deg, #acb6e5, #86fde8) no-repeat center center scroll;
  background-size: cover;
  background-attachment: fixed;
  overflow-y: scroll;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
